.headline-strings {
    margin-left: 20px;
}

/** Resume **/
.timeline-wrapper {
    position: relative;
    padding: 22px 0;
}
.timeline-wrapper:before {
    content: "";
    background: #ffb400;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 38px;
}
.timeline-yr {
    background: #ffb400;
    border-radius: 100%;
    position: absolute;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}
.timeline-yr span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 75px;
}
.timeline-info {
    display: inline-block;
    vertical-align: top;
    max-width: 432px;
    margin-left: 6em;
}
.timeline-info h3 span {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.timeline-info small {
    color: #ffb400;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.timeline-info p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

.resume .resume-title {
    color: #fff;
}
/** Home **/
.custom-btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
}
.custom-btn.custom-btn-bg {
    background: #474559;
    color: #fff;
}
.custom-btn.custom-btn-bg:hover {
    background: #ffc200;
    color: #fff !important;
}
.custom-btn:hover {
    color: #ffc200;
}

/** Portfolio **/
#portfolio,
#about,
#contact,
#blog {
    padding: 7rem 9rem;
}

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
}
.portfolios .portfolio-item {
    position: relative;
    border-radius: 15px;
}
.portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.portfolios .portfolio-item .hover-items {
    width: 100%;
    height: 100%;
    background-color: #ffc200;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
.portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolios .portfolio-item .hover-items .icons .icon {
    background-color: #191d2b;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 1rem;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: #ffffff;
}
.portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: #191d2b;
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

.main-title {
    text-align: center;
}
.main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}
.main-title h2 span {
    color: #ffc200;
}
.main-title h2 .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: transparent;
    transition: all 0.4s ease-in-out;
    z-index: -1;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 6.3rem;
    width: 100%;
    -webkit-text-stroke: 1px #60656a;
    filter: blur(2px);
}
.port-text {
    padding: 2rem 0;
    text-align: center;
    font-size: 20px;
}

/** Contact **/
.leftside {
    padding: 0 0 0 50px;
}
