/* =================================================================== */
/* RED #ff5d56
====================================================================== */
.nav-container > div > ul li.active a,
.nav-container > div > ul li:hover a,
.btn.btn-secondary,
.projects-info h3,
.main-text h1 span,
section#blog article h4:hover,
body.dark section#blog article h4:hover,
body.dark.blog article a h4:hover,
.contact-container .contact .rightside h6 i,
.skill-title,
.custom-list h6 i,
.blog article h4:hover,
.contact-container ul.social-intro li a,
.chart-bar > .percent {
    color: #ff5d56;
}
.stretchy-navigation.nav-is-visible ul li.active a,
.main-title h2 span:nth-child(1),
.timeline-info small,
.custom-btn:hover,
.stretchy-navigation.nav-is-visible ul li.active a span,
.stretchy-navigation.nav-is-visible ul li a:hover,
.stretchy-navigation.nav-is-visible ul li a:hover span {
    color: #ff5d56 !important;
}
.chart-bar > .item-progress {
    background: linear-gradient(to right, #ff5d66, #c72720, #720c0c);
}
.stretchy-navigation ul a:before,
.nav-container > div > ul li:not(:last-child):hover:after,
body.dark .nav-container > div > ul li:not(:last-child):hover:after,
.nav-container > div > ul li.active:not(:last-child):after,
body.dark .nav-container > div > ul li.active:not(:last-child):after,
.contact-container ul.social-intro li a:hover,
#progress-line-container,
#header > div.bg,
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn.btn-secondary:before,
section#blog .post-date,
::-webkit-scrollbar-thumb,
.personal-info:before,
.button-animated,
.readmore {
    background-color: #ff5d56;
}
.portfolios .portfolio-item .hover-items {
    background-color: #ff5d56 !important;
}

.contact-container ul.social-intro li a,
.btn.btn-secondary,
.btn.btn-secondary:focus,
.chart-bar > .percent {
    border: 1px solid #ff5d56;
}

.arrow {
    border: 1px solid #ff5d56;
    border-width: 0 1px 1px 0;
}

.personal-info .image-container:before {
    border: 6px solid #ff5d56;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
    border-color: #ff5d56;
}

#portfolio-items li a div,
.timeline-yr,
.timeline-wrapper:before,
.custom-btn.custom-btn-bg:hover {
    background: #ff5d56 !important;
}
